@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.zdog-canvas.fade-out {
  opacity: 0;
}
.kirby.visible {
  opacity: 1;
}
.firstPage.visibility {
  opacity: 1;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15vw) translateY(-250px);
  }
}
.button.clickBtn {
  margin: auto;
}

@media (max-width: 1200px) {
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(15vw) translateY(-230px);
    }
  }
}
@media (max-width: 1024px) {
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(26vw) translateY(-16vw);
    }
  }
}
