@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}
.zdog-canvas.fade-out {
  opacity: 0;
}




.kirby.visible {
  opacity: 1;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20vw) translateY(-12vw);
  }
}